<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Palindrome Store</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c573a3cda6.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='palin_2.css') }}">


</head>
<body>



    <div class="estrutura">

        <!-- Header -->
        <header class="header">
            <nav class="nav-items-1">
                <ul>
                    <li><a href="palin">shop</a></li>
                    <li><a href="palin">collections</a> </li>
                    <li><a href="palin">lookbook</a> </li>
                    <li><a href="palin">fale conosco</a> </li>
                </ul>
            </nav>

            <nav class="nav-items-2">
                <ul>
                    <li><a href="#"><i class="fa-solid fa-user"></i></a></li>
                    <li><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                    <li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>
            </nav>

        </header>




        <!-- TOP-CONTENT -->

        <section class="top-content" style="margin-top: 5em; margin-bottom: 10em;">
            <h1 class="title">Palin-Store</h1>

            <nav class="collection">
                <div class="item-1">
                    <button type="button" class="btn transparent-c">Ordenar</button>
                    <i class="fa-solid fa-list list-icon"></i>
                </div>

                <div class="item-2">

                </div>
            </nav>
        </section>



        <!-- MAIN-CONTENT -->
        <section class="main-content" style="margin-bottom: 10em;">

            <article class="main-article">
                <div class="card">
                    <a href="/buy" class="img-overlay">

                        <div class="img-card-1" style="background-image: url(static/img/mockup.webp); padding-top: 100%;"></div>
                        <div class="img-card-2" style="background-image: url(static/img/mockup_2.webp); padding-top: 100%;"></div>
                    </a>

                    <div class="card-text">
                        <a href="/buy">
                            <p class="transparent-c">t-shirt mockup</p>
                            <div class="price"><span class="transparent-c">R$ 10,00</span></div>
                        </a>
                    </div>
                </div>
            </article>


            <article class="main-article">
                <div class="card">
                    <a href="/buy" class="img-overlay">

                        <div class="img-card-1" style="background-image: url(static/img/mockup.webp); padding-top: 100%;"></div>
                        <div class="img-card-2" style="background-image: url(static/img/mockup_2.webp); padding-top: 100%;"></div>
                    </a>

                    <div class="card-text">
                        <a href="/buy">
                            <p class="transparent-c">t-shirt mockup</p>
                            <div class="price"><span class="transparent-c">R$ 10,00</span></div>
                        </a>
                    </div>
                </div>
            </article>


            <article class="main-article">
                <div class="card">
                    <a href="#" class="img-overlay">

                        <div class="img-card-1" style="background-image: url(static/img/mockup.webp); padding-top: 100%;"></div>
                        <div class="img-card-2" style="background-image: url(static/img/mockup_2.webp); padding-top: 100%;"></div>
                    </a>

                    <div class="card-text">
                        <a href="#">
                            <p class="transparent-c">t-shirt mockup</p>
                            <div class="price"><span class="transparent-c">R$ 10,00</span></div>
                        </a>
                    </div>
                </div>
            </article>


            <article class="main-article">
                <div class="card">
                    <a href="#" class="img-overlay">

                        <div class="img-card-1" style="background-image: url(static/img/mockup.webp); padding-top: 100%;"></div>
                        <div class="img-card-2" style="background-image: url(static/img/mockup_2.webp); padding-top: 100%;"></div>
                    </a>

                    <div class="card-text">
                        <a href="#">
                            <p class="transparent-c">t-shirt mockup</p>
                            <div class="price"><span class="transparent-c">R$ 10,00</span></div>
                        </a>
                    </div>
                </div>
            </article>

            <article class="main-article">
                <div class="card">
                    <a href="#" class="img-overlay">

                        <div class="img-card-1" style="background-image: url(static/img/mockup.webp); padding-top: 100%;"></div>
                        <div class="img-card-2" style="background-image: url(static/img/mockup_2.webp); padding-top: 100%;"></div>
                    </a>

                    <div class="card-text">
                        <a href="#">
                            <p class="transparent-c">t-shirt mockup</p>
                            <div class="price"><span class="transparent-c">R$ 10,00</span></div>
                        </a>
                    </div>
                </div>
            </article>

            <article class="main-article">
                <div class="card">
                    <a href="#" class="img-overlay">

                        <div class="img-card-1" style="background-image: url(static/img/mockup.webp); padding-top: 100%;"></div>
                        <div class="img-card-2" style="background-image: url(static/img/mockup_2.webp); padding-top: 100%;"></div>
                    </a>

                    <div class="card-text">
                        <a href="#">
                            <p class="transparent-c">t-shirt mockup</p>
                            <div class="price"><span class="transparent-c">R$ 10,00</span></div>
                        </a>
                    </div>
                </div>
            </article>


        </section>













    <!-- FOOTER -->
        <footer class="footer" style="margin-bottom: 20em;">
            <div class="grid-footer-1">
                <p class="transparent-c f_text">Menu Rodapé</p>
                <hr class="hr">
                <ul class="footer-nav transparent-c" style="">
                    <li><a href="#" class="nav-link">Dúvidas</a></li>
                    <li><a href="#" class="nav-link">Política De Privacidade</a></li>
                    <li><a href="#" class="nav-link">Fale Conosco</a></li>
                    <li><a href="#" class="nav-link">Sobre Nós</a></li>
                </ul>
            </div>

            <div class="grid-footer-2">
                <p class="transparent-c f_text-2">Informativo</p>
                <hr class="hr">
                <div class="transparent-c">
                    <p class="transparent-c">Fique por dentro de tudo o que acontece na Palindrome. Cadastre seu e-mail para receber todas as novidades e promoções exclusivas para assinantes.</p>
                </div>
                <form class="forms" style="margin-top: 1em">
                    <label for="email" class="label">Email</label>
                    <div class="form-flex">
                        <input class="input-form" type="email" placeholder="seu_email@exemplo.com" name="contact_email">
                        <span class="input-button">
                            <button type="submit" class="button" name="sub-button">Inscrever</button>
                        </span>
                    </div>
                </form>
            </div>

            <div class="copyright">
                <p style="background: transparent">© palin store 2022 todos os direitos reservados</p>
            </div>

            <div class="socials-grid">
                <ul class="footer-socials">
                    <li><a href="#" class="socials"><i class="fa-brands fa-github"></i></a></li>
                    <li><a href="#" class="socials"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li><a href="#" class="socials"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="#" class="socials"><i class="fa-brands fa-instagram"></i></a></li>
                </ul>
            </div>

        </footer>

    </div>

</body>
</html>



















